# <p style="color: green"><%= notice %></p>

<% if user_signed_in?%>

  <h1>Friend List</h1>

  <div id="friends">
    <% @friends.each do |friend| %>

      <% #current user is from devise%>
      <% if friend.user === current_user %>
      <%= render friend %>
      <p>
        <%= link_to "Show this friend", friend %>
      </p>
      <% end%> 
    <% end %>
  </div>

  <%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>

<% else %>
  <h1>Sign in to see your friends</h1>
<% end %>